
body {
  height: 100%;
}
body {
  background-color: #eccbb54b;
  background-size: cover;
}
.bg-light{
  background-color: rgb(123, 155, 89) !important;
}

.form-login {
  background: #afb44d;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  position: relative;
  margin: auto;
  background: url(img/bg.jpg);
}
.btn-primary {
  background: rgb(123, 155, 89) !important;
  border: 0;
}
.btn-primary:hover {
  background: #62795d !important;
}

.btn-info {
  background: rgb(123, 155, 89) !important;
  border: 0;
}
.btn-info:hover {
  background: #62795d !important;
}

img {
  max-width: 100%;
  height: auto;
}
#mainMenu .nav-link {
  color: #000000 !important;
}
#mainMenu .nav-link:hover {
  background: hsl(88, 61%, 64%) !important
  border-radius: 5px;
  color: #262626;
}
#mainMenu .nav-link.active {
  background: #397e55 !important;
  border-radius: 5px;
  color: #262626;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #262626;
}

#work {
  padding-top: 80px;
}

#contact {
  background: url(img/map.jpg);
}

#footer ul a {
  color: #262626;
  text-decoration: none;
}

#footer ul a:hover {
  color: #397e55;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  #slider {
    padding-top: 60px;
  }
  #about {
    padding: 25px;
  }
  #about .col-md-6.align-self-center{
    padding-bottom: 25px;
  }
}

