
body {
  height: 100%;
}
body {
  background-color: #f7e2bd4b;
  background-size: cover;
}
img {
  max-width: 100%;
  height: auto;
}
.bg-light{
  background-color: #b7ddda !important;
}
h3 {
  color: #c70505;
}
.form-login {
  background: #979793b8 !important;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  position: relative;
  margin: auto;
  background: url(img/bg.jpg);
}
.btn-primary {
  background: #b7ddda !important;
  border: 0;
}
.btn-primary:hover {
  background: hsl(65, 37%, 64%) !important;
}

.btn-info {
  background: #b7ddda !important;
  border: 0;
}
.btn-info:hover {
  background: hsl(65, 37%, 64%) !important;
}

#mainMenu .nav-link {
  color: #c70505 !important;
}
#mainMenu .nav-link:hover {
  background: hsl(65, 37%, 64%) !important;
  border-radius: 5px;
  color: #c70505 !important;
}
#mainMenu .nav-link.active {
  background: #397e55 !important;
  border-radius: 5px;
  color: #c70505;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #262626;
}

#work {
  padding-top: 80px;
}

#contact {
  background: url(img/map.jpg);
}

#footer ul a {
  color: #000 !important;
  text-decoration: none;
}

#footer ul a:hover {
  color: #397e55;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  #slider {
    padding-top: 60px;
  }
  #about {
    padding: 25px;
  }
  #about .col-md-6.align-self-center{
    padding-bottom: 25px;
  }
}

